@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@import "tailwindcss";

@theme {
	--color-white-100: #efefef;
	--font-raleway: "Raleway", serif;
	--font-inter: "Inter", serif;
	--font-bricolage: "Bricolage Grotesque", serif;
}

html,
body {
	width: 100%;
	background-color: #050822;
	color: white;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.consolas {
	font-family: consolas, sans-serif;
}
